<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="javascript:void(0);" data-ng-click="modalWindow('register')">Request Info</a></li>
    <li><a href="javascript:void(0);" data-ng-click="modalWindow('login')">Login</a></li>
    <li><a href="javascript:void(0);" data-ng-click="modalWindow('contact')">Contact</a></li>
  </ul>
  <a data-ng-href=""><img class="brand" src="images/small-logo.png"/></a>
</div>

<div class="container">
  <div class="row">
    <h4>Landing Page</h4>
  </div>
</div>